<% content_for :meta_title do %>
  Favourites
<% end %>

<!-- top bar -->
<div class="container" id="common-top">
  <div class="row">
    <%= link_to request.referer, class: "top-back" do %>
      <i class="fas fa-chevron-left"></i>
    <% end %>
    <h1>Favourites</h1>
  </div>
</div>
<div class="controller-sort-wrapper">
  <div class="controller-container">
    <ul class="list-inline">
      <li>Name <i class="fas fa-sort"></i></li>
      <li>Recent <i class="fas fa-sort"></i></li>
      <li>Size <i class="fas fa-sort"></i></li>
    </ul>
  </div>
</div>
<div class="hello">
  <div class="favourite-container">
    <% counter = 0 %>
    <% @favourited_foods.each do |favourited_food| %>
      <div class="content">
        <div class="img-fav">
          <%= link_to food_path(favourited_food) do %>
          <% if favourited_food.images.nil? %>
            <%= image_tag(@food_images[:image_paths][0], class: "img") %>
          <% else %>
            <%= image_tag(favourited_food.images[0], class: "img") %>
          <% end %>
        </div>
          <div class="text-info" >
            <div class="text-content">
              <p style="margin:0;"><%= favourited_food.en %></p>
              <small class="search-food-desc"><%= favourited_food.name %></small>
            </div>
            <div class="show-page">
              <%= link_to food_path(favourited_food.id) do %>
                <i class="fas fa-angle-right"></i>
              <% end %>
            </div>
          </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
<!-- // hello -->
<div class="container" id="common-bottom">
  <div class="row">
    <!-- camera -->
    <%= link_to root_path, class: "bottom-icon" do %>
      <i class="fas fa-camera"></i>
    <% end %>
    <!-- bag -->
    <%= link_to favourites_path, class: "bottom-icon" do %>
      <i class="fas fa-shopping-bag"></i>
      <!-- if cart is empty add 'empty' class -->
      <span class="cart-num empty"></span>
      <!-- <span class="cart-num">3</span> -->
    <% end %>
    <!-- heart -->
    <%= link_to favourites_path, class: "bottom-icon" do %>
      <i class="fas fa-heart"></i>
        <% if @fav.length > 0  %>
          <span class="cart-num"><%= @fav.length %></span>
        <% end %>
    <% end %>
  </div>
</div>
