<nav>
  <div class="nav-container fixed-top">
    <%= link_to root_path, class: "nav-icon left" do %>
      <i class=""></i>
    <% end %>
    <h3>Favourites</h3>
    <%= link_to root_path, class: "nav-icon" do %>
      <i class=""></i>
    <% end %>
  </div>
</nav>
<div class="controller-sort-wrapper">
  <div class="controller-container">
    <ul class="list-inline">
      <li>Name <i class="fas fa-sort"></i></li>
      <li>Recent <i class="fas fa-sort"></i></li>
      <li>Size <i class="fas fa-sort"></i></li>
    </ul>
  </div>
</div>
<div class="hello">
  <div class="favourite-container">
    <% counter = 0 %>
    <% @favourited_foods.each do |favourited_food| %>
      <div class="content">
        <div class="img-fav">
          <% if favourited_food.images.nil? %>
            <%= image_tag(@food_images[:image_paths][0], class: "img") %>
          <% else %>
            <%= image_tag(favourited_food.images[0], class: "img") %>
          <% end %>
        </div>
          <div class="text-info" >
            <div class="text-content">
              <p style="margin:0;">English name</p>
              <small class="search-food-desc"><%= favourited_food.name %></small>
            </div>
            <div class="show-page">
              <%= link_to food_path(favourited_food.id) do %>
                <i class="fas fa-angle-right"></i>
              <% end %>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>
<!-- // hello -->
<div class="container" id="common-bottom">
  <div class="row">
    <!-- camera -->
    <%= link_to root_path, class: "bottom-icon" do %>
      <i class="fas fa-camera"></i>
    <% end %>
    <!-- heart -->
      <%= link_to favourites_path, class: "bottom-icon" do %>
        <i class="fas fa-heart"></i>
          <% if @fav.length > 0  %>
            <span class="cart-num"><%= @fav.length %></span>
          <% end %>
      <% end %>
    <!-- bag -->
    <%= link_to root_path, class: "bottom-icon" do %>
      <i class="fas fa-shopping-bag"></i>
      <!-- if cart is empty add 'empty' class -->
      <span class="cart-num empty"></span>
      <!-- <span class="cart-num">3</span> -->
    <% end %>
    <!-- clock -->
    <%= link_to root_path, class: "bottom-icon" do %>
      <i class="fas fa-clock"></i>
    <% end %>
    <!-- user -->
    <%= link_to root_path, class: "bottom-icon" do %>
      <i class="fas fa-user-circle"></i>
    <% end %>
  </div>
</div>
