<div class="explanation-title">
  <h2>Miru</h2>
  <p>Miru is the greatest app that allows most accurate translation of any food related menus and their visualization. Eat like the local.</p>
</div>

<h3>Project Team</h2>
<div class="row">
  <div class="card-team col-sm-3 col-md-1">
    <%= image_tag "https://avatars1.githubusercontent.com/u/42114758?v=4" , class: "img-circle avatar" %>
    <%= link_to "https://github.com/NinthAutumn" do %>
      <p>Arif Iwamoto</p>
    <% end %>
  </div>

  <div class="card-team col-sm-3 col-md-1">
    <%= image_tag "https://avatars1.githubusercontent.com/u/14194991?v=4" , class: "img-circle avatar" %>
    <%= link_to "https://github.com/kiuuk" do %>
      <p>Kiwook Ha</p>
    <% end %>
  </div>

  <div class="card-team col-sm-3 col-md-1">
    <%= image_tag "https://avatars0.githubusercontent.com/u/42990872?v=4" , class: "img-circle avatar" %>
      <%= link_to "https://github.com/grunhub" do %>
        <p>Raymond Cheong</p>
      <% end %>
  </div>

  <div class="card-team col-sm-3 col-md-1">
    <%= image_tag "https://avatars1.githubusercontent.com/u/42410688?v=4" , class: "img-circle avatar" %>
    <%= link_to "https://yutafujii.herokuapp.com/" do %>
      <p>Yuta Fujii</p>
    <% end %>
  </div>
</div>
