<% @orders.each_with_index do |order, index| %>
  <div class="card-result-body <%= "list-#{index}" %> <%= "hidden" unless index == 0 %>">
    <!-- img -->
    <%= cl_image_tag(order.food.images[0], width: 100, height: 100, crop: "fill", class: "img-circle result-center" ) %>
    <!-- desc -->
    <div class="food-description">
      <h2><%= @food_title %></h2>
      <h3><%= @food_title %></h3>
    </div>
    <!-- quantity -->
    <div class="quantity">
      <%= simple_form_for order, remote: true do |f| %>
        <%= f.input :order, as: :hidden %>
        <%= f.button :button, class: "decrease", value: "decrease", title: "Decrease Quantity" do %>
          <i class="fas fa-minus-circle"></i>
        <% end %>
      <% end %>
      <input type="text" class="quantity-amount" name="" value="<%= order.order %>" />
      <%= simple_form_for order, remote: true do |f| %>
        <%= f.input :order, as: :hidden %>
        <%= f.button :button, class: "increase", value: "increase", title: "Increase Quantity" do %>
        <!-- <button class="increase" type="button" title="Increase Quantity"><i class="fas fa-plus-circle"></i></button> -->
          <i class="fas fa-plus-circle"></i>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
