<nav>
  <div class="nav-container fixed-top">
    <%= link_to root_path, class: "nav-icon left" do %>
      <i class="fas fa-angle-left"></i>
    <% end %>
    <h3>Results</h3>
    <%= link_to root_path, class: "nav-icon" do %>
      <i class="fas fa-sort-amount-down"></i>
    <% end %>
  </div>
</nav>
<div class="controller-sort-wrapper">
  <div class="controller-container">
    <ul class="list-inline">
      <li>Name <i class="fas fa-sort"></i></li>
      <li>Recent <i class="fas fa-sort"></i></li>
      <li>Size <i class="fas fa-sort"></i></li>
    </ul>
  </div>
</div>
<div id="hello">
  <div class="search-container" >
    <% @results.each do |result| %>
      <div class="content" id="<%= result.food_id %>">
        <div onclick="imageClicked(<%= result.id %>, <%= result.food_id%> )" class="img-div"  >
          <div class="overlay not-clicked" id="<%= result.id %>">
            <div class="overlay-container">
              <div class="icons">
                <i class="fas fa-check-circle"></i>
              </div>
            </div>
          </div>
          <%= link_to toggle_result_path(result), method: :patch, remote: true do %>
            <%= cl_image_tag(result.food.images[0], class: "img") %>
          <% end %>
        </div>
        <%= link_to results_food_show_path(result.food_id, result), class: "link-food" do %>
          <div class="text-info" >
            <div class="text-content">
              <p style="margin:0;"><%= result.food.en %></p>
              <small class="search-food-desc"><%= result.food.name %></small>
            </div>
            <div class="show-page">
              <%= link_to results_food_show_path(result.food_id, result) do %>
                <i class="fas fa-angle-right"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<!-- // hello -->
<footer class="footer">
  <div class="bottom-container" >
    <%= link_to root_path, class: "nav-icon" do %>
      <i class="fas fa-camera"></i>
    <% end %>
    <%= link_to 'See Order', order_path, class: "btn-order" %>
    <%= link_to root_path, class: "nav-icon" do %>
      <i class="fas fa-heart"></i>
    <% end %>
  </div>
</footer>
<script>
  function imageClicked(num, foodname){
      let image = document.getElementById(num);
      let textImage = document.getElementById(foodname);
      image.classList.add('clicked');
      image.classList.remove("not-clicked");
      textImage.classList.add("some");
    }
    var see_ordered = <%= raw @all %>;
    see_ordered.forEach((result)=>{
      if(result.order){
        imageClicked(result.id, result.food_id);
      }
    });
</script>
<script>
  var clicked = false;
  function imageClicked(num, foodname){
      const image = document.getElementById(num);
      const textImage = document.getElementById(foodname);
      if (image.classList.contains('clicked')) {
        image.classList.remove('clicked');
        image.classList.add("not-clicked");
        textImage.classList.remove("some");
      } else {
        image.classList.add('clicked');
        image.classList.remove("not-clicked");
        textImage.classList.add("some");
      }
  }
</script>
