<nav>
  <div class="nav-container fixed-top">
    <%= link_to root_path, class: "nav-icon left" do %>
      <i class="fas fa-angle-left"></i>
    <% end %>
    <h3>Results</h3>
    <%= link_to root_path, class: "nav-icon" do %>
      <i class="fas fa-sort-amount-down"></i>
    <% end %>
  </div>
</nav>

<!-- contents -->
<div id="hello">
  <div class="container search-container">
    <% counter = 0 %>
    <% @results.each do |result| %>
    <div class="row">
      <% counter += 1 %>
      <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 pic-column">
        <div class="img-div"><%= cl_image_tag(@results_with_data[result][0], class: "img") %></div>
      </div>
      <div class="col-xs-6 col-sm-8 col-md-10 col-lg-10">
        <!-- food title en -->
        <div class="search-food-english" id="english"><%= link_to "English name", food_path(result)%></div>
        <!-- food desc -->
        <div class="search-food-desc"><%= result.food.name %></div>
        <!-- cart -->
        <div class="cart">
          <%= link_to menu_result_path(@menu[-1].id, result.id), method: :patch do %>
          <!-- cart --><Cart></Cart>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div><!-- // hello -->

<div class="container">
  <div class="row">
    <div class="col-sm bot-bar fixed-bottom">
      <%= link_to root_path, class: "nav-icon" do %>
        <i class="fas fa-camera"></i>
      <% end %>
      <%= link_to 'See Order', root_path, class: "btn btn-secondary" %>
      <%= link_to root_path, class: "nav-icon" do %>
        <i class="fas fa-heart"></i>
      <% end %>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'hello_vue' %>
