<% content_for :meta_title do %>
  Results
<% end %>
<% content_for :title do %>
  Results
<% end %>
<div class="container" id="common-top">
  <div class="row">
    <%= link_to request.referer, class: "top-back" do %>
      <i class="fas fa-chevron-left"></i>
    <% end %>
    <h1>Result</h1>
    <a id="modal-btn"><i class="fas fa-question "></i></a>
  </div>
</div>
<div id="hello">
  <div class="search-container" >
    <% @sort_popularity.each do |result| %>
      <div class="content" id="<%= result.food_id %>">
        <div onclick="imageClicked(<%= result.id %>, <%= result.food_id%> )" class="img-div"  >
          <%= link_to toggle_result_path(result), method: :patch, remote: true do %>
            <div class="overlay not-clicked" id="<%= result.id %>">
              <div class="overlay-container">
                <div class="icons">
                  <i class="fas fa-check-circle"></i>
                </div>
              </div>
            </div>
            <%= cl_image_tag(result.food.images[0], class: "img") %>
          <% end %>
        </div>
        <%= link_to results_food_show_path(result.food_id, result), class: "link-food" do %>
          <div class="text-info" >
            <div class="text-content">
              <p style="margin:0;"><%= result.food.en %></p>
              <small class="search-food-desc"><%= result.food.name %></small>
            </div>
            <div class="show-page">
              <%= link_to results_food_show_path(result.food_id, result) do %>
                <i class="fas fa-angle-right "></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div id="my-modal" class="modal">
  <div class="modal-content up">
    <div class="modal-body ">
      <span class="close">&times;</span>
      <i class="fas fa-arrow-left"></i>
      <p >
        Tap on the pic to order!
      </p>
    </div>
  </div>
  <div class="modal-content down">
    <div class="modal-body">
      <span class="close">&times;</span>
      <p>Tap on the icon below to confirm your order</p>
      <i class="fas fa-arrow-down"></i>
    </div>
  </div>
</div>
<!-- // hello -->
<%= render 'shared/favbotbar' %>
<script>
  function imageClicked(num, foodname){
      let image = document.getElementById(num);
      let textImage = document.getElementById(foodname);
      image.classList.add('clicked');
      image.classList.remove("not-clicked");
      textImage.classList.add("some");
    }
    var see_ordered = <%= raw @all %>;
    see_ordered.forEach((result)=>{
      if(result.order){
        imageClicked(result.id, result.food_id);
      }
    });
</script>
<script>
  var clicked = false;
  function imageClicked(num, foodname){
      const image = document.getElementById(num);
      const textImage = document.getElementById(foodname);
      if (image.classList.contains('clicked')) {
        image.classList.remove('clicked');
        image.classList.add("not-clicked");
        textImage.classList.remove("some");
      } else {
        image.classList.add('clicked');
        image.classList.remove("not-clicked");
        textImage.classList.add("some");
      }
  }
</script>
<script>
  // Get DOM Elements
  const modal = document.querySelector('#my-modal');
  const modalBtn = document.querySelector('#modal-btn');
  const closeBtn = document.querySelector('.close');

  // Events
  modalBtn.addEventListener('click', openModal);
  closeBtn.addEventListener('click', closeModal);
  window.addEventListener('click', outsideClick);

  // Open
  function openModal() {
    modal.style.display = 'block';
  }

  // Close
  function closeModal() {
    modal.style.display = 'none';
  }

  // Close If Outside Click
  function outsideClick(e) {
    if (e.target == modal) {
      modal.style.display = 'none';
    }
  }
</script>
