<nav>
  <div class="nav-container fixed-top">
    <%= link_to root_path, class: "nav-icon left" do %>
      <i class="fas fa-angle-left"></i>
    <% end %>
    <h3>Results</h3>
    <%= link_to root_path, class: "nav-icon" do %>
      <i class="fas fa-sort-amount-down"></i>
    <% end %>
  </div>
</nav>
<div class="controller-sort-wrapper">
  <div class="controller-container">
    <ul class="list-inline">
      <li>Name <i class="fas fa-sort"></i></li>
      <li>Recent <i class="fas fa-sort"></i></li>
      <li>Size <i class="fas fa-sort"></i></li>
    </ul>
  </div>
</div>
<div id="hello">
  <div class="search-container">
    <% counter = 0 %>
    <% @results.each do |result| %>
      <div class="content">
        <div onclick="imageClicked(<%= counter %>)" class="img-div" id="<%= counter %>" >
          <div class="overlay not-clicked">
            <div class="overlay-container">
              <div class="icons">
                <i class="fas fa-check-circle"></i>
              </div>
            </div>
          </div>
          <%= link_to result_path(result), method: :patch, remote: true do %>
            <%= cl_image_tag(result.food.images[0], class: "img") %>
          <% end %>
        </div>
        <%= link_to food_path(result.food.id), class: "link-food" do %>
          <div class="text-info">
            <div class="text-content">
              <p style="margin:0;">English name</p>
              <small class="search-food-desc"><%= result.food.name %></small>
            </div>
            <div class="show-page">
              <%= link_to food_path(result.food.id) do %>
                <i class="fas fa-angle-right"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <% counter += 1 %>
    <% end %>
  </div>
</div>
<!-- // hello -->
<footer class="footer">
  <div class="bottom-container" >
    <%= link_to root_path, class: "nav-icon" do %>
      <i class="fas fa-camera"></i>
    <% end %>
    <%= link_to 'See Order', order_path, class: "btn btn-secondary" %>
    <%= link_to root_path, class: "nav-icon" do %>
      <i class="fas fa-heart"></i>
    <% end %>
  </div>
</footer>
<script>
  var clicked = false;
  function imageClicked(num){
      const image = document.getElementById(num).firstChild;
      if (image.classList.contains('clicked')) {
        image.classList.remove('clicked');
        image.classList.add("not-clicked");
      } else {

        image.classList.add('clicked');
        image.classList.remove("not-clicked");
      }

  }
</script>
