<nav>
  <div class="nav-container fixed-top">
    <%= link_to root_path, class: "nav-icon left" do %>
      <i class="fas fa-angle-left"></i>
    <% end %>
    <h3>Results</h3>
    <%= link_to root_path, class: "nav-icon" do %>
      <i class="fas fa-sort-amount-down"></i>
    <% end %>
  </div>
</nav>
<div class="controller-sort-wrapper">
  <div class="controller-container">
    <ul class="list-inline">
      <li>Name <i class="fas fa-sort"></i></li>
      <li>Recent <i class="fas fa-sort"></i></li>
      <li>Size <i class="fas fa-sort"></i></li>
    </ul>
  </div>
</div>
<div class="hello">
  <div class="search-container">
    <% counter = 0 %>
    <% @results.each do |result| %>
      <div class="content">
        <div class="img-div">
          <%= cl_image_tag(@results_with_data[result][0], class: "img") %>
        </div>
        <div class="text-info">
          <div class="text-content">
            <p style="margin:0;">English name</p>
            <small class="search-food-desc"><%= result.food.name %></small>
          </div>
          <div class="show-page">
            <%= link_to food_path(result.id) do %>
              <i class="fas fa-angle-right"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!-- // hello -->
<footer class="footer">
  <div class="bottom-container" >
    <%= link_to root_path, class: "nav-icon" do %>
      <i class="fas fa-camera"></i>
    <% end %>
    <%= link_to 'See Order', order_path, class: "btn btn-secondary" %>
    <%= link_to root_path, class: "nav-icon" do %>
      <i class="fas fa-heart"></i>
    <% end %>
  </div>
</footer>
