<nav>
  <div class="nav-container fixed-top">
    <%= link_to root_path, class: "nav-icon left" do %>
      <i class="fas fa-angle-left"></i>
    <% end %>
    <h3>Results</h3>
    <%= link_to root_path, class: "nav-icon" do %>
      <i class="fas fa-sort-amount-down"></i>
    <% end %>
  </div>
</nav>
<div id="hello">
  <div class="index-wrapper">
    <div class="index-container">
      <div class="row" style="margin:0;">
        <div class="cards">
          <% counter = 0 %>
          <% @results.each do |result| %>
            <div class="col-xs-6" style="padding: 1px;">
              <% counter += 1 %>
              <div class="card">
                <%= cl_image_tag(@results_with_data[result][0], class: "img") %>
                <div class="list">
                  <div class="text">
                    <p id="english"><%= link_to "English name", food_path(result)%></p>
                    <p><%= result.food.name %></p>
                  </div>
                  <Cart></Cart>
                </div>
                <%= link_to menu_result_path(@menu[-1].id, result.id), method: :patch do %>
                  <i class="fas fa-shopping-cart"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm bot-bar fixed-bottom">
      <%= link_to root_path, class: "nav-icon" do %>
        <i class="fas fa-camera"></i>
      <% end %>
      <%= link_to 'See Order', order_path, class: "btn btn-secondary" %>
      <%= link_to root_path, class: "nav-icon" do %>
        <i class="fas fa-heart"></i>
      <% end %>
    </div>
  </div>
</div>
