<div class="container">
  <div class="row">
    <div class="col-sm top-bar">
      <%= link_to menu_results_path, class: "nav-icon" do %>
        <i class="fas fa-angle-left"></i>
      <% end %>
      <h2 class="heading">Order List</h2>
    </div>
  </div>
</div>
<div class="container result-container">
  <% @images.each do |src| %>
    <div class="row each-food">
      <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 pic-column">
        <div class="food-img-div"><img src="<%= src %>" /></div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
        <dl class="food-description">
          <dt><%= @food_title %></dt>
          <dd><%= @food_summary %></dd>
        </dl>
        <div class="quantity"></div>
      </div>
    </div>
  <% end %>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm bot-bar">
      <%= link_to root_path, class: "nav-icon" do %>
        <i class="fas fa-camera"></i>
      <% end %>
      <h3 class=qty-ordered>Items to order : <strong>#</strong></h3>
    </div>
  </div>
</div>
