<!-- title for navbar -->
<% content_for :meta_title do %>
  Order List
<% end %>
<% content_for :title do %>
  ORDER
<% end %>

<!-- NEW top bar -->
<%= render 'shared/favtopbar' %>
<div class="container-body">
  <div class="banner result-top">
    <%= render 'order_list_banner', object: [@orders, @results_with_data] %>
  </div>
  <div class="container result-body">
    <%= render 'order_list_body', object: [@orders, @results_with_data, @food_title] %>
  </div>
  <%= render 'order_list_summary', object: [@orders, @food_title] %>
</div>
<!-- NEW footer -->
<%= render 'shared/favbotbar' %>
<%= javascript_pack_tag 'results/order' %>
