<!-- title for navbar -->
<% content_for :title do %>
  ORDER
<% end %>

<!-- NEW top bar -->
<%= render 'shared/favtopbar' %>
<div class="container-body">
  <div class="banner result-top">
    <%= render 'order_list_banner', object: [@orders, @results_with_data] %>
  </div>
  <div class="container result-body">
    <% @orders.each_with_index do |order, index| %>
      <div class="card-result-body <%= "list-#{index}" %> <%= "hidden" unless index == 0 %>">
        <!-- img -->
        <%= cl_image_tag(@results_with_data[order][0], width: 100, height: 100, crop: "fill", class: "img-circle result-center" ) %>
        <!-- desc -->
        <div class="food-description">
          <h2><%= @food_title %></h2>
          <h3><%= @food_title %></h3>
        </div>
        <!-- quantity -->
        <div class="quantity">
          <button class="decrease" type="button" title="Decrease Quantity"><i class="fas fa-minus-circle"></i></button>
          <input type="text" class="quantity-amount" name="" value="1" />
          <button class="increase" type="button" title="Increase Quantity"><i class="fas fa-plus-circle"></i></button>
        </div>
      </div>
    <% end %>
  </div>
  <%= render 'order_list_summary', object: [@orders, @food_title] %>
</div>
<!-- NEW footer -->
<%= render 'shared/favbotbar' %>
<%= javascript_pack_tag 'results/order' %>
