<!-- top bar -->
<div class="container" id="common-top">
  <div class="row">
     <%= link_to menu_results_path(@result.menu), class: "top-back" do %>
      <i class="fas fa-chevron-left"></i>
    <% end %>
    <h1><%= @food_name %></h1>
  </div>
</div>

<!-- contents -->
<div class="container-fluid food-show">
  <!-- cover -->
  <div class="food-pic"><%= image_tag(@food_images[0]) %></div>
  <div class="add-cart">
      <%= link_to root_path, class: "bottom-icon" do %>
        <i class="fas fa-shopping-bag"></i>
      <% end %>

      <%= button_to favourites_path, method: :patch, class: "bottom-icon" do %>
        <i class="fas fa-heart"></i>
      <% end %>
  </div>
  <!-- desc -->
  <div class="food-desc">
    <a href="https://en.wikipedia.org/wiki/<%= @food_name %>" target="_blank" class="link-wiki">
      VIEW IN WIKIPEDIA <i class="fas fa-chevron-right"></i>
    </a>
    <dl>
      <dt><%= @food_name %></dt>
      <dd>But my hunger (which is as existent as the sun, ’cause I am always hungry) aside, I decided to take time out from my daily occupation of feeling hungry to make a list of books that have provided remission to my hungry brain and tummy. I hope that they will do the same for you.</dd>
    </dl>
  </div>
  <!-- extra img -->
  <ul class="foods-extra">
    <% @food_images.each do |image| %>
      <li><%= cl_image_tag(image, class: "food-card") %></li>
    <% end %>
  </ul>
</div>

<!-- footer -->
<div class="container" id="common-bottom">
  <div class="row">
    <!-- camera -->
    <%= link_to root_path, class: "bottom-icon" do %>
      <i class="fas fa-camera"></i>
    <% end %>
    <!-- heart -->
    <%= link_to root_path, class: "bottom-icon" do %>
      <i class="fas fa-heart"></i>
    <% end %>
    <!-- bag -->
    <%= link_to root_path, class: "bottom-icon" do %>
      <i class="fas fa-shopping-bag"></i>
      <!-- if cart is empty add 'empty' class -->
      <span class="cart-num empty"></span>
      <!-- <span class="cart-num">3</span> -->
    <% end %>
    <!-- clock -->
    <%= link_to root_path, class: "bottom-icon" do %>
      <i class="fas fa-clock"></i>
    <% end %>
    <!-- user -->
    <%= link_to root_path, class: "bottom-icon" do %>
      <i class="fas fa-user-circle"></i>
    <% end %>
  </div>
</div>
