<!-- top bar -->
<div class="container" id="common-top">
  <div class="row">
    <%= link_to request.referer, class: "top-back" do %>
      <i class="fas fa-chevron-left"></i>
    <% end %>
    <h1><%= @food.name %></h1>
  </div>
</div>

<!-- contents -->
<div class="container-fluid food-show">
  <!-- cover -->
  <div class="food-pic"><%= image_tag(@food.images[0]) %></div>
  <div class="add-cart">
      <% if @result %>
        <%= button_to toggle_result_path(@result), method: :patch, class: "bottom-icon icon-cart " do %>
          <i class="fas fa-shopping-bag"></i>
        <% end %>
      <% else %>
        <%= link_to root_path, class: "bottom-icon" do %>
          <i class="fas fa-shopping-bag"></i>
        <% end %>
      <% end %>
      <!-- favorite btn -->
      <div class="favourite-buttom">
        <% if @favourite %>
          <%= button_to favourite_path(@favourite), method: :delete, remote: true, class: "bottom-icon added" do %>
            <i class="fas fa-heart"></i>
          <% end %>
        <% else %>
          <%= button_to food_favourites_path(@food), method: :post, remote: true, class: "bottom-icon", id: "add-heart" do %>
            <i class="fas fa-heart"></i>
          <% end %>
        <% end %>
      </div>

      <!--
      <script>
        $(function() {
          $("#add-heart").on("click", function() {
            $("#add-heart .fa-heart").toggleClass("added");
          });
        });
      </script>
      -->

  </div>
  <!-- desc -->
  <div class="food-desc">
    <a href="https://en.wikipedia.org/wiki/<%= @food.name %>" target="_blank" class="link-wiki">
      VIEW IN WIKIPEDIA <i class="fas fa-chevron-right"></i>
    </a>
    <dl>
      <dt><%= @food.en %></dt>
      <dt><%= @food.name %></dt>
      <dd>But my hunger (which is as existent as the sun, ’cause I am always hungry) aside, I decided to take time out from my daily occupation of feeling hungry to make a list of books that have provided remission to my hungry brain and tummy. I hope that they will do the same for you.</dd>
    </dl>
  </div>
  <!-- extra img -->
  <ul class="foods-extra">
    <% @food.images.each do |image| %>
      <li><%= cl_image_tag(image, class: "food-card") %></li>
    <% end %>
  </ul>
</div>

<!-- footer -->
<div class="container" id="common-bottom">
  <div class="row">
    <!-- camera -->
    <%= link_to root_path, class: "bottom-icon" do %>
      <i class="fas fa-camera"></i>
    <% end %>
    <!-- heart -->
      <%= link_to favourites_path, class: "bottom-icon heart-bottom" do %>
        <i class="fas fa-heart"></i>
          <% if @fav.length > 0  %>
            <span class="cart-num"><%= @fav.length %></span>
          <% end %>
      <% end %>
    <!-- bag -->
    <%= link_to root_path, class: "bottom-icon" do %>
      <i class="fas fa-shopping-bag"></i>
      <!-- if cart is empty add 'empty' class -->
      <span class="cart-num empty"></span>
      <!-- <span class="cart-num">3</span> -->
    <% end %>
    <!-- clock -->
    <%= link_to root_path, class: "bottom-icon" do %>
      <i class="fas fa-clock"></i>
    <% end %>
    <!-- user -->
    <%= link_to root_path, class: "bottom-icon" do %>
      <i class="fas fa-user-circle"></i>
    <% end %>
  </div>
</div>

<%= javascript_pack_tag 'foods/show' %>
