<% content_for :meta_title do %>
  <%= @food.name %>
<% end %>

<!-- top bar -->
<div class="container" id="common-top">
  <div class="row">
    <%= link_to request.referer, class: "top-back" do %>
      <i class="fas fa-chevron-left"></i>
    <% end %>
    <h1><%= @food.en.nil? ? @food.name : @food.en %></h1>
  </div>
</div>

<!-- contents -->
<div class="container-fluid food-show">
  <!-- cover -->
  <div class="food-pic"><%= image_tag(@food.images[0]) %></div>
  <div class="add-cart" id="cart-favourite">
      <% if @result %>
        <%= button_to toggle_result_path(@result), method: :patch, class: "bottom-icon icon-cart " do %>
          <i class="fas fa-shopping-bag"></i>
        <% end %>
      <% else %>
        <%= link_to root_path, class: "bottom-icon" do %>
          <i class="fas fa-shopping-bag"></i>
        <% end %>
      <% end %>
      <!-- favorite btn -->
      <div class="favourite-buttom">
        <% if @favourite %>
          <%= button_to favourite_path(@favourite), method: :delete, remote: true, class: "bottom-icon added" do %>
            <i class="fas fa-heart"></i>
          <% end %>
        <% else %>
          <%= button_to food_favourites_path(@food), method: :post, remote: true, class: "bottom-icon", id: "add-heart" do %>
            <i class="fas fa-heart"></i>
          <% end %>
        <% end %>
      </div>
      <!--
      <script>
        $(function() {
          $("#add-heart").on("click", function() {
            $("#add-heart .fa-heart").toggleClass("added");
          });
        });
      </script>
      -->
  </div>
  <!-- desc -->
  <div class="food-desc">
    <dl>
      <dt><%= @food.en %></dt>
      <dt><%= @food.name %></dt>
      <dd>More photos:</dd>
    </dl>
  </div>
  <!-- extra img -->
  <ul class="foods-extra">
    <% @food.images.each do |image| %>
      <li><%= cl_image_tag(image, class: "food-card") %></li>
    <% end %>
  </ul>
</div>

<!-- footer -->
<%= render 'shared/favbotbar', object: @menu %>
<%= javascript_pack_tag 'foods/show' %>

