<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MIRU MENU | <%= yield :meta_title %></title>
    <%= favicon_link_tag asset_path('logo.png'), rel: 'icon', type: "image/x-icon" %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta property="og:title" content="A menu visualiser app Miru | Wolrd's Greatest Gourme App">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://www.mirumenu.com/">
    <meta property="og:image" content="https://www.mirumenu.com/assets/logo-15925d5246959df7242667de403698c872d96be5cd51293fd338cc0b10ccd29f.png">
    <meta property="og:description" content="Miru is the greatest app that allows most accurate translation of any food related menus and their  &amp; visualization. Eat like a local.">
    <meta property="og:site_name" content="Miru">
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/nprogress@0.2.0/nprogress.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="body-wrapper">
      <div class="phone-overlay">
        <%= render 'svg/phone' %>
        <div class="body-container">
          <%= render 'shared/flashes' %>
          <%= yield %>
        </div>
      </div>
      <div class="explanation">
        <%= render 'shared/explanation' %>
      </div>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
